body {
  background-color: #0a286d;
  display: flex;
  height: 100vh;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 10px;
}

article {
  background-color: white;
  max-width: 350px;
  margin: 30px auto;
  width: 100%;
}

h1 {
  font-family: fantasy;
}

.hidden {
  visibility: hidden;
}

#quote_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  padding: 10px 15px;
}

#quote_text p {
  text-align: center;
}

#quote_controller {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 8px 26px;
  margin-bottom: 10px;
  border: 0;
  color: white;
}

.btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #0a286d;
}

.btn-primary:hover {
  background-color: #2349a1;
  transition: 0.3s ease-in-out;
}

.btn-secondary {
  background-color: #2f1389;
}

.btn-secondary:hover {
  background-color: #4426a6;
  transition: 0.3s ease-in-out;
}

@media (min-width: 425px) {
  article {
    min-width: 350px;
  }
}

@media (min-width: 768px) {
  article {
    min-width: 500px;
  }
}

@media (min-width: 1024px) {
  article {
    min-width: 750px;
  }
}
