body {
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
}
#todo_list {
  width: 100%;
  height: calc(100vh - 40px);
  border: 20px solid rgb(183, 70, 70);
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo_section {
  width: 100%;
  height: fit-content;
  padding: 0 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.btn {
  padding: 8px 30px;
  color: white;
  font-weight: 700;
  border: 0;
  transition: all 0.3s ease;
}

.btn-prime {
  background-color: rgb(183, 70, 70);
}

.btn-prime:hover {
  background-color: rgba(183, 70, 70, 0.8);
}

.hide {
  display: none;
}

#new_task {
  margin-top: 20px;
}

#new_task_form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[required],
textarea[required] {
  width: 100%;
}

.msg {
  display: block;
  margin: 10px 0 5px;
  color: #a22828;
}
