body {
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#todo_list {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 144, 144);
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo_section {
  width: 100%;
  height: 85%;
  background-color: whitesmoke;
  padding: 0 20px;
  overflow-y: auto;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.btn {
  padding: 8px 30px;
  color: white;
  font-weight: 700;
  border: 0;
  transition: all 0.3s ease;
}

.btn-prime {
  background-color: rgb(255, 144, 144);
}

.btn_prime:hover {
  background-color: rgba(255, 144, 144, 0.534);
}

.hide {
  display: none;
}

#new_task {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[required],
textarea[required] {
  width: 100%;
}

.msg {
  display: block;
  margin: 10px 0 5px;
  color: #a22828;
}
